{ "all" : [ { "body" : 
  	      	     { "background-color" : "#e8e8e8",
	       	       "font-family" : "Times New Roman",
	       	       "margin" : "0 auto"		     
	     	       }
	    }
	   ],
 "section": [ { "span[class=\"sectionTitle\"]" : 
  	      				      	{ "border-left" : "5px solid #708090",
					          "padding-left" : "5px"
						} 
	       }
	     ]
}